@import "tailwindcss";
@import "react-loading-skeleton/dist/skeleton.css";

body {
  background-color: rgb(17, 24, 39);
  color: white;
}

@view-transition {
  navigation: auto;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.q1 {
  background-color: rgb(232, 79, 44); /* Rojo intenso */
}

.q2 {
  background-color: rgb(255, 165, 0); /* Naranja */
}

.q3 {
  background-color: rgb(255, 223, 0); /* Amarillo */
}

.q4 {
  background-color: rgb(60, 179, 113); /* Verde medio */
}

.q5 {
  background-color: rgb(30, 144, 255); /* Azul brillante */
}

.q6 {
  background-color: rgb(138, 43, 226); /* Violeta */
}

.q7 {
  background-color: rgb(128, 128, 128); /* Gris */
}
